<!--The content below is only a placeholder and can be replaced.-->

<div class="container app">
  <div class="row ">
    <div class="col-sm-8">
      <h1 class="text-center">{{title}}</h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable" *ngIf='mng' >
        <a href="#" class="close" (click)='alerta()'>
            &times;
        </a>
        {{mensaje}}
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-4">
  
      </div>
      <div class="col-sm-8">
        <h2>Creacion del dato</h2>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="control-label col-sm-2">
              Nombre:
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name" id="name" [(ngModel)]="model.name">
            </div>
          </div>
  
          <div class="form-group">
            <label for="email" class="control-label col-sm-2">
              Email:
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="email" id="email" [(ngModel)]="model.email">
            </div>
          </div>
  
          <div class="form-group">
            <label for="cargo" class="control-label col-sm-2">
              Cargo:
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="cargo" id="cargo" [(ngModel)]="model.cargo">
            </div>
          </div>
  
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-success" (click)="addempleador()">
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

 
  <div class="row">
    <div class="col-sm-8">
      <h2>Datos de empleado</h2>
      <table class="table table-border">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cargo</th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let empleado of empleados ; let i = index">
            <th>{{empleado.name}}</th>
            <th>{{empleado.cargo}}</th>
            <th>
              <a (click)="editempleador(i)" class="btn btn-success">Editar</a>
              <a (click)="removeempleador(i)" class="btn btn-danger">Eliminar</a>
            </th>
         </tr>
        </tbody>
      </table>  
    </div>
  </div>
</div>


